.icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  line-height: 0;
  width: 24px;
  height: 24px;
}

.iconSvg {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

.iconSvg svg,
.iconSvg img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;
}

/* Ensure icon components from design-system are visible */
.iconSvg > div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Support for inline SVG from Figma */
.iconSvg svg {
  fill: currentColor;
  color: currentColor;
}
